<section>
  <nav>
    <img src="/assets/ch-logo.png">
  </nav>
  <div class="large-3 left">
    <h3>All Contacts</h3>
    <input class="large-10 center" placeholder="Search" ng-model="searchText"></input>
    <ul>
      <li class="name" ng-repeat="contact in contacts | filter:searchText" ng-click="showContactDetails(contact)">{{contact.lastname}}, {{contact.firstname}}</li>
    </ul>
  </div>
  <div class="large-9 left">
    <button class="edit" ng-click="editContact(contactDetails.firstname)">edit</button>
    <ul>
      <li><h1>{{contactDetails.firstname}} {{contactDetails.lastname}}</h1></li>
      <li> Phone: <span ng-bind="contactDetails.phone"></span></li>
      <li> Email: <span ng-bind="contactDetails.email"></span></li>
      <li> Address: <span ng-bind="contactDetails.address"></span></li>
    </ul>
    <div class="edit-modal" ng-show="toggleEditModal">
      <ul class="center large-8">
        <li>
          <h1>Edit Contact</h1>
          <span>(click to edit)</span>
        </li>
        <li> Phone:
          <input ng-model="contactDetails.phone"></input>
        </li>
        <li> Email:
          <input ng-model="contactDetails.email"></input>
        </li>
        <li> Address:
          <input ng-model="contactDetails.address"></input>
        </li>
        <li>
           <button class="right" ng-click="closeEditModal()">Cancel</button>
           <button class="right" ng-click="closeEditModal()">Save</button>
        </li>
      </ul>
    </div>
  </div>
</section>
