<section>
  <div class="large-3 left column">
    <h1>All Contacts</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <ul ng-repeat="contact in contacts">
      <li class="name" ng-click="showContactDetails(contact)">{{contact.lastname}}, {{contact.firstname}}</li>
    </ul>
  </div>
  <div class="large-7 left column">
    <button ng-click="editContact(contactDetails.firstname)">Edit</button>
    <h1>{{contactDetails.firstname}} {{contactDetails.lastname}}</h1>
    <ul>
      <li> Phone: {{contactDetails.phone}} </li>
      <li> Email: {{contactDetails.email}} </li>
      <li> Address: {{contactDetails.address}} </li>
    </ul>
    <div class="edit-modal" ng-show="toggleEditModal">
      <h1>Edit Contact</h1>

    </div>
  </div>
</section>
