// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  padding: 35px;
  padding-top: 10px;
  color: #606060;
  font-family: sans-serif;

  nav {
    padding-bottom: 25px;

    img {
      height: 45px;
    }
  }

  > div {
    height: 600px;
  }

  input {
    display: block;
    padding: 0px 13px;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: #969595;
  }

  li {
    list-style: none;
  }

  h3 {
    text-align: center;
  }

  .large-3 {
    background: #ccc;

    h2 {
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      margin: 20px 5px 0 5px;
      cursor: pointer;

      li {
        border-bottom: 1px solid #acacac;
        padding: 10px;

        &:first-child {
          border-top: 1px solid #acacac;
        }

        &:hover {
          background: #bbb;
        }
      }
    }
  }

  .large-9 {
    background: #eee;
    position: relative;

    button.edit {
      position: absolute;
      right: 12px;
      top: 12px;
      background-color: #bababa;
      border-radius: 5px;
      border: none;
      color: rgb(107, 106, 106);
      width: 45px;
    }

    ul {
      padding-left: 15px;
      margin-top: 40px;

      li {
        padding-bottom: 20px;
        color: #969595;

        h1 {
          color: #606060;
          margin-bottom: 10px;
        }

        span {
          padding-left: 20px;
        }
      }
    }

    .edit-modal {
      background: rgba(0, 0, 0, 0.67);
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;

      ul {
        background: white;
        margin-top: 20px;
        padding: 10px 50px;
        height: 300px;

        span {
          padding-left: 0;
        }

        button {
          margin-right: 5px;
        }
      }

      input {
        width: 200px;
        display: inline;
      }
    }
  }
}
