// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-modal {
  background: rgba(0, 0, 0, 0.67);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
